<div class="container terminal-footer">
	<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=HenryX', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
		<code>/dev/null &gt; /your/email</code> here:
		<input type="text" style="width:140px" name="email"/>
		<input type="hidden" value="HenryX" name="uri"/>
		<input type="hidden" name="loc" value="en_US"/>
		<input type="submit" value="subscribe" />
	</form>
	<p style="font-size=calc(var(--global-font-size)*0.8);">
		copyright &copy; Henry Xia 2019
	</p>
</div>
