<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<div class="main-content">
			{% include navbar.html %}

			<div class="container terminal">
				<h1 style="margin-bottom:0px;padding-bottom:0px;">
					{{ page.title }}
				</h1>
				<h2 style="margin-top:0px;padding-top:0px;">
					{{ page.date | date: "%Y %B %d" }}
				</h2>

				{{ content }}
			</div>

			<div class="container terminal" style="margin-top=2em;padding-top=2em;">
				{% include subscribe.html %}
			<div>
		</div>

		{% include footer.html %}
	</body>

</html>
